{% extends "base.html" %}

{% block content %}
    <form>
        {% if current_user.is_authenticated %}
            <div>
                <a href="/add_job" class="btn btn-secondary">Добавить работу</a>
            </div>
        {% endif %}
    {% for job in jobs %}
        <h2>Action # {{loop.index}}</h2>
        <table class="table">
            <thead>
            <tr class="table-secondary">
                <th scope="col">Title of activity</th>
                <th scope="col">Team leader</th>
                <th scope="col">Duration</th>
                <th scope="col">List of collaborators</th>
                <th scope="col">is finished</th>
            </tr>
            </thead>
            <tbody>
            <tr class="table-primary">
                <td>{{job.job}}</td>
                <td>{{job.team_leader}}</td>
                <td>{{job.work_size}}</td>
                <td>{{job.collaborators}}</td>
                {% if job.is_finished==1 %}
                    <td>is finished</td>
                {% else %}
                    <td>Is not finished</td>
                {% endif %}
            </tr>
            </tbody>
        </table>
        {% if current_user.is_authenticated and (current_user == job.user or current_user.id == 1) %}
            <div>
                <a href="/work/{{ job.id }}" class="btn btn-warning">
                    Изменить
                </a>
                <a href="/work_delete/{{ job.id }}" class="btn btn-danger">
                    Удалить
                </a>
            </div>
        {% endif %}
    {% endfor %}
    </form>
{% endblock %}